
target/classes/com/app/similarity/AppData.class

.project

.classpath

.settings/org.eclipse.core.resources.prefs

*.class

*.prefs

target/classes/com/assign/test/sents.train

target/classes/com/assign/test/sents.devt

target/classes/com/assign/test/Hidden-Markov
